@media (min-width:1441px) and (max-width:1920px) {
  .home-product-div{
      width: 1300px;
  }  
}

@media (min-width:1921px) and (max-width:2100px) {
    .home-product-div{
        width: 1300px;
    }  
  }

  @media (min-width:2101px) and (max-width:2560px) {
    .home-product-div{
        width: 1300px;
    }  
  }

  @media (min-width:2561px) and (max-width:3000px) {
    .home-product-div{
        width: 1300px;
    }  
  }

  @media (min-width:3001px) and (max-width:3500px) {
    .home-product-div{
        width: 1300px;
    }  
  }

  @media (min-width:3501px) and (max-width:4000px) {
    .home-product-div{
        width: 1300px;
    }  
  }

  @media (min-width:4001px) and (max-width:4500px) {
    .home-product-div{
        width: 1300px;
    }  
  }

  @media (min-width:4501px) and (max-width:5000px) {
    .home-product-div{
        width: 1300px;
    }  
  }

  @media (min-width:5001px) and (max-width:5500px) {
    .home-product-div{
        width: 1500px;
    }  
  }

  @media (min-width:5501px) and (max-width:6000px) {
    .home-product-div{
        width: 1300px;
    }  
  }

  @media (min-width:6001px) and (max-width:7680px) {
    .home-product-div{
        width: 1400px;
    }  
  }