/* .row{
    width: 94vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}
.col{
    height: 200px;
    flex:1 1 20px ;
    margin: auto;
} */
