.productuploadbox1{
    /* background-color: rgb(92, 235, 111);  */
   width: 45%;
   height: auto;
}
.uploadpic{
    width: 175px;
    height: 195px;
    /* background-color: rgb(224, 221, 24); */
    background-image: url("../../images/uploadpic.png");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position:relative;
    left:-15px;
}
#pupic1{
        outline: none;
         width: 220px;
    height: 190px;
    border-radius: 30px;
    
    /* background-color: cadetblue; */
    border:none;
}
.inputpic{
    /* display: none; */
    background-color: hotpink;
    position: absolute;
    width: 235px;
    height: 195px;
    opacity: 0;
}
